# Django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# База данных
POSTGRES_DB=geodb
POSTGRES_USER=geouser
POSTGRES_PASSWORD=geopassword123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Django Database (для settings.py)
DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=geodb
DB_USER=geouser
DB_PASSWORD=geopassword123
DB_HOST=postgres
DB_PORT=5432

# Время и язык
TIME_ZONE=Europe/Moscow
LANGUAGE_CODE=ru-ru